.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    width: 100%;
    padding-top: 60px;
}

.loading {
    color: white;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    width: 65%;
    justify-content: center;
}

.logoutbtn {
    height: 3rem;
    width: 10rem;
    color: white;
    border-radius: 10px;
    background-color: rgb(204, 0, 0);
    border: none;
}

.logoutbtn:hover {
    background-color: rgb(215, 0, 0);
}
