.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; 
    background-color: var(--bg);
}

/* Тёмно-синяя тема

Фон: #050533

Обычный текст: #FFFFFF

Важный текст (янтарный): #FFC107

Чёрная тема

Фон: #000000

Обычный текст: #FFFFFF

Важный текст (янтарный светлее): #FFD54F */